<div class="sign_in_options">
  <br>
  <p class="sign-in-msg">Sign in to create a game!</p>

  <br>
    <a href="/auth/facebook/"><div class="fb-icon-bg"></div>
    <div class="fb-bg"></div></a>
    <br>
  <a href="/auth/twitter/"><div class="twi-icon-bg"></div>
    <div class="twi-bg"></div></a>
    <br>
  <a href="/auth/google_oauth2/"><div class="g-icon-bg"></div>
    <div class="g-bg"></div></a>
</div>
