// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,300);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600);
// @import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
//
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

h1.title_text {
	text-align: center;
	font-size: 40px;
	font-family: 'Josefin Sans';
}

h2.tweet_text {
	font-family: 'Josefin Sans';
}

.tweet {
	background-color: #F0F8FF;
	height: 3m;
	border: solid;
	font-size: 1.5em;
	border-radius:18px;
	text-align: center;
	display: block;
}

.title {
	border: solid;
	background-color: #F0F8FF;
	border-radius:18px;
}

.myButton {
  display: block;
	font-size: 16px;
  background-color: black;
  // background-image: -webkit-gradient(linear, left top, left bottom, from(green), to(#e7e7e7));
  // background-image: -webkit-linear-gradient(top, green, #e7e7e7);
  // background-image: -moz-linear-gradient(top, green, #e7e7e7);
  // background-image: -ms-linear-gradient(top, green, #e7e7e7);
  // background-image: -o-linear-gradient(top, green, #e7e7e7);
  color: white;
  margin: 36px;
  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
	// transition: background-color 0.5s;
	cursor: hand;
	cursor: pointer;
}

.myButton_hover:hover {
  text-decoration: none;
  // color: #555;
  background: #f5f5f5;
	background-color:#778899;
}

.start_over {
	position: fixed;
	bottom: 0;
	right: 0;
  display: block;

	font-size: 15px;
  background-color: black;
  // background-image: -webkit-gradient(linear, left top, left bottom, from(green), to(#e7e7e7));
  // background-image: -webkit-linear-gradient(top, green, #e7e7e7);
  // background-image: -moz-linear-gradient(top, green, #e7e7e7);
  // background-image: -ms-linear-gradient(top, green, #e7e7e7);
  // background-image: -o-linear-gradient(top, green, #e7e7e7);
  color: white;
	text-align: center;
  width: 144px;
  line-height: 40px;
  border-radius: 20%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
	cursor: hand;
	cursor: pointer;
	text-decoration: none;
}

.start_over:hover {
  text-decoration: none;
  background: #f5f5f5;
	background-color:#f24437
}


.score {
	display: inline;
	text-align: center;
	font-family: 'Indie Flower', cursive;
  font-size: 2em;
  appearance: none;
  box-shadow: none;
  border-radius: none;
	box-shadow: 0 0 5px 1px #969696;
}


#name_button {
	overflow: visible;
	height: 300px;
	width: 200px;
	border-radius:18px;
	display: inline-block;
	margin: 0 auto;
}

 // Makes him come from the right side of the screen
// #hidden.dj_pauly_d_img {
// 	overflow: hidden;
// 	position: absolute;
// 	right: -1000px;
// 	top: 400px;
// 	height: 250px;
// 	width: 250px;
// 	transition: 0.5s;
// }

#hidden {
	// overflow: hidden;
	position: absolute;
	right: 2000px;
	top: 400px;
	height: 250px;
	width: 250px;
	transition: 0.5s;
}

.donald_j_trump {
	// border: solid red;
	// background-color: red;
}

.hillary_clinton {
	// border: solid red;
	// background-color: red;
}

img {
	height: 250px;
	width: 250px;
}


.donald_j_trump .myButton:hover + div#hidden.donald_j_trump_img {
    position: absolute;
		overflow: visible;
		height: 100px;
		width: 100px;
		right: 900px;
		top: 610px;

}

.hillary_clinton .myButton:hover + div#hidden.hillary_clinton_img {
    position: absolute;
		overflow: visible;
		height: 100px;
		width: 100px;
		right: 700px;
		top: 610px;
}

.dj_pauly_d .myButton:hover + div#hidden.dj_pauly_d_img {
    position: absolute;
		overflow: visible;
		height: 100px;
		width: 100px;
		right: 500px;
		top: 610px;
}

span {
	float: left;
	padding: 30px;
}

.great {
	background-color: #7CFC00;
	color: blue;

}

.good {
	background-color: #C5E3BF;
	color: blue;

}

.bad {
	background-color: #CC0000;
	color: white;

}

.terrible {
	background-color: #520000;
	color: white;

}

.all_buttons {
	text-align: center;
	width: 100%;
}

.big_space {
	height: 50px;
}

.answer_status	 {
	font-family: 'Indie Flower', cursive;
	font-size: 5em;
	text-align: center;
  margin-top: 10px;
}

.answer_status_box {
	margin-top: 70px;
  margin-bottom: 100px;
}

.social {
	display: inline;
	position: fixed;
	left: 0px;
	top: 0px;
}

.social iframe {
	vertical-align: middle;
}

.social span {
	display: inline-block;
	width: 40px;
}

.label_for_scoreboard {
  padding-top: 15px;
  padding-bottom: 10px;
	font-family: 'Indie Flower', cursive;
	font-size: 2em;
	margin: 5px;
  text-align: center;
}

.facebook-before {
	background-color: #0064ab;
	border-radius: 3px 0px 0px 3px;
	-moz-border-radius: 3px 0px 0px 3px;
	-webkit-border-radius: 3px 0px 0px 3px;
	color: #f4f4f4;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

.facebook {
	background-color: #0079ce;
	border: none;
	border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	color: #f4f4f4;
	cursor: pointer;
	height: 50px;
	text-transform: uppercase;
	width: 250px;
}

// .twitter-before {
// 	background-color: #189bcb;
// 	border-radius: 3px 0px 0px 3px;
// 	-moz-border-radius: 3px 0px 0px 3px;
// 	-webkit-border-radius: 3px 0px 0px 3px;
// 	color: #f4f4f4;
// 	display: block;
// 	float: left;
// 	height: 50px;
// 	line-height: 50px;
// 	text-align: center;
// 	width: 20px;
// }


.twitter {
	background-color: #1bb2e9;
	border: none;
	border-radius: 0px 3px 3px 0px;
	-moz-border-radius: 0px 3px 3px 0px;
	-webkit-border-radius: 0px 3px 3px 0px;
	color: #f4f4f4;
	cursor: pointer;
	height: 50px;
	text-transform: uppercase;
	width: 250px;
}

.fb-icon-bg {
	background: #354f88;
	height: 37px;
	margin: 0 0 -37px 0;
	width: 41px;
}

.fb-icon-bg:after {
  content: url(http://affordablelocksmithgoldcoast.com.au/wp-content/uploads/2015/04/twitter_logo_small.png);
  display: block;
  padding: 5px 10px 10px 7px;
}

.fb-bg {
	background: #3b5998;
	display: block;
	height: 37px;
	margin: 0 0 0px 41px;
	width: 166px;
}

.fb-bg:after {
	color: #fff;
  font-size: 12px;
	content: "sign in with facebook";
	font-family: 'Oswald', sans-serif;
	height: 37px;
	left: 8%;
	position: relative;
	text-transform: uppercase;
	top: 22%;
	width: 41px;
}

.fb-bg:hover{
  cursor: pointer;
}

.fb-bg:active{
  background: #354f88;
}

/* Twitter */
.twi-icon-bg:after {
  content: url(http://affordablelocksmithgoldcoast.com.au/wp-content/uploads/2015/04/twitter_logo_small.png);
  display: block;
  padding: 7px 10px 6px 9px;
}

.twi-icon-bg {
	background: #40a2d1;
	height: 37px;
	margin: 0 0 -37px 0;
	width: 41px;
}

.twi-bg {
	background: #45b0e3;
	height: 37px;
	margin: 0 0 0px 41px;
	width: 166px;
}

.twi-bg:after {
	color: #fff;
  font-size: 12px;
	content: "sign in with twitter";
	font-family: 'Oswald', sans-serif;
	height: 37px;
  left: 11%;
	position: relative;
  text-transform: uppercase;
	top: 22%;
  width: 41px;
}

.twi-bg:hover {
  cursor: pointer;
}

.twi-bg:active {
  background: #40a2d1;
}

/* Google+ */
.g-icon-bg:after {
  content: url(https://cdn.shopify.com/s/files/1/0171/5096/files/google_plus_small.png?30923);
  display: block;
  padding: 9px 10px 1px 10px;
}

.g-icon-bg {
	background: #ce3e26;
	height: 37px;
	margin: 0 0 -37px 0;
	width: 41px;
}

.g-bg {
	background: #de4c34;
	height: 37px;
	margin-left: 41px;
	width: 166px;
}

.g-bg:after {
	color: #fff;
  font-size: 12px;
	content: "sign in with google+";
	font-family: 'Oswald', sans-serif;
	height: 37px;
	left: 10%;
	position: relative;
	text-transform: uppercase;
	top: 22%;
	width: 41px;
}

.g-bg:hover {
  cursor: pointer;
}

.btn-twitter {
    background: #00acee;
    border-radius: 0;
    color: #fff
}
.btn-twitter:link, .btn-twitter:visited {
    color: #fff
}
.btn-twitter:active, .btn-twitter:hover {
    background: #0087bd;
    color: #fff
}
.btn-facebook {
    background: #3b5998;
    border-radius: 0;
    color: #fff
}
.btn-facebook:link, .btn-facebook:visited {
    color: #fff
}
.btn-facebook:active, .btn-facebook:hover {
    background: #30477a;
    color: #fff
}
.btn-googleplus {
    background: #e93f2e;
    border-radius: 0;
    color: #fff
}
.btn-googleplus:link, .btn-googleplus:visited {
    color: #fff
}
.btn-googleplus:active, .btn-googleplus:hover {
    background: #ba3225;
    color: #fff
}
.btn-stumbleupon {
    background: #f74425;
    border-radius: 0;
    color: #fff
}
.btn-stumbleupon:link, .btn-stumbleupon:visited {
    color: #fff
}
.btn-stumbleupon:active, .btn-stumbleupon:hover {
    background: #c7371e;
    color: #fff
}
.btn-linkedin {
    background: #0e76a8;
    border-radius: 0;
    color: #fff
}
.btn-linkedin:link, .btn-linkedin:visited {
    color: #fff
}
.btn-linkedin:active, .btn-linkedin:hover {
    background: #0b6087;
    color: #fff
}

.row.social-media {
  border: solid;
}

.all_buttons {
  // border: solid;
  margin-top: -20px;
  height: 130px;
}

.play-again {
  text-align: center;
  margin-bottom: 50px;
}

#add-username, #remove-username {
  cursor:pointer;
  color:blue;
  text-decoration:none;
}

#add-username:hover, #remove-username:hover {
  text-decoration:underline;
}

li > .btn-twitter {
    background: inherit;
    border-radius: 0;
}

li > .btn-facebook {
    background: inherit;
    border-radius: 0;
}

.fb-like {
  position: fixed;
}

.correct-color {
  background-color: green;
}

.wrong-color {
  background-color: red;
}

.share-game {
  font-size: 15px;
  margin-top: -40px;
  margin-bottom: 45px; ;
}
